<ion-content>
  <div class="header-container">

    <div class="page-header">
      <h1>Tareas</h1>
      <p>Crea y gestiona tus tareas</p>
    </div>

    <button class="btn-add" (click)="mostrarFormularioTask()">
      +
    </button>

  </div>

  <main>

    <div class="hero-card">
      <div>
        <h2>Resumen de tus hábitos</h2>
        <p>Aquí tienes un resumen de tus hábitos</p>
      </div>
    </div>

    <section id="resumen">

      <div class="stat-card">
        <span class="number">
          {{ tasks.length }}
        </span>
        <span class="label">
          Tareas
        </span>
        <ion-icon
            name="clipboard-outline"
            class="start-icon">
          </ion-icon>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ tareasPendientes }}
        </span>
        <span class="label">
          Pendientes
        </span>
        <ion-icon
            name="hourglass-outline"
            class="start-icon">
          </ion-icon>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ tareasCompletadas }}
        </span>
        <span class="label">
          Completadas
        </span>
        <ion-icon
            name="checkmark-done-outline"
            class="start-icon">
          </ion-icon>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ tasks.length > 0 ? ((tareasCompletadas / tasks.length) * 100).toFixed(0) : 0 }}%
        </span>
        <span class="label">
          Progreso
        </span>
        <ion-icon
            name="stats-chart-outline"
            class="start-icon">
          </ion-icon>
      </div>

    </section>

    <!-- FILTROS -->
    <section id="filtros">
      <button id="todas" (click)="cambiarFiltro('todos')"
      [ngClass]="{'activo': filtroActual === 'todos'}">Todas</button>
      <button id="pendientes" (click)="cambiarFiltro('pendientes')"
      [ngClass]="{'activo': filtroActual === 'pendientes'}">Pendientes</button>
      <button id="completadas" (click)="cambiarFiltro('completadas')"
      [ngClass]="{'activo': filtroActual === 'completadas'}">Completadas</button>
    </section>

    <section id="crear-tarea" #formulario *ngIf="mostrarFormulario">
      <h3>Nueva Tarea</h3>

      <div class="campo">
        <label>Nombre</label>
        <input type="text" placeholder="Nombre de la tarea" [(ngModel)]="nuevoNombre">
      </div>

      <div class="campo">
        <label>Categoría</label>
        <input type="text" placeholder="Categoría" [(ngModel)]="nuevaCategoria">
      </div>

      <div class="campo">
        <label>Prioridad</label>
        <select [(ngModel)]="nuevaPrioridad">
          <option *ngFor="let prioridad of prioridadesDisponibles" [value]="prioridad">
            {{ prioridad }}
          </option>
        </select>
      </div>
      <div class="acciones">

        <button
          class="guardar"
          (click)="agregarTask()">
          Agregar tarea
        </button>

        <button
          class="cancelar"
          (click)="mostrarFormulario = false">
          Cancelar
        </button>

      </div>

    </section>

    <!-- LISTA DE TAREAS -->
    <section id="tareas">

      <div class="tarea" *ngFor="let task of tasksFiltrados">

        <input type="checkbox" [(ngModel)]="task.completada" (change)="cambiarEstado(task)">

        <div class="informacion-tarea">

          <span class="nombre-tarea">
            {{ task.name }}
          </span>

          <div class="detalles-tarea">

            <span class="fecha">
              📅 {{ task.date | date:'dd/MM/yyyy' }}
            </span>

            <span class="categoria">
              🏷 {{ task.categoria }}
            </span>

            <span class="prioridad">
              {{ task.prioridad }}
            </span>

            <div class="task-actions">

              <button
                class="btn-edit"
                (click)="editarTask(task)">

                <ion-icon
                  name="create-outline">
                </ion-icon>

              </button>

              <button
                class="btn-delete"
                (click)="eliminarTask(task.id)">

                <ion-icon
                  name="trash-outline">
                </ion-icon>

              </button>

            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="modal" *ngIf="editando && taskEditando">

      <div class="modal-content">

        <!-- <h2>Editar tarea</h2> -->
        <button class="editar-cerrar" (click)="editando = false">✖</button>

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="taskEditando!.name">
        </div>

        <div class="form-group">
          <label>Categoría</label>
          <input type="text" [(ngModel)]="taskEditando!.categoria">
        </div>

        <div class="form-group">
          <label>Prioridad</label>
          <select [(ngModel)]="taskEditando!.prioridad">
            <option *ngFor="let prioridad of prioridadesDisponibles" [value]="prioridad">
              {{ prioridad }}
            </option>
          </select>
        </div>

        <div class="botones">
          <button class="guardar" (click)="guardarEdicion()">Guardar</button>
          <button class="cancelar" (click)="editando = false">Cancelar</button>
        </div>

      </div>

    </div>

  </main>

  <app-bottom-navigation></app-bottom-navigation>

</ion-content>