<ion-content>
  <h1>Hábitos</h1>
  <h2>Crea y gestiona tus hábitos</h2>
  <main>
    <section id="resumen">
      <div id="progreso"> ✓ {{ obtenerHabitosCompletados() }} Completados hoy </div>
      <div id="mensaje"> 🔥 {{ obtenerRachaTotal() }} Racha total</div>
      <div id="indicadores"> % {{ obtenerProgreso() }}Progreso semanal </div>
    </section>

    <section id="filtros">
      <button (click)= "cambiarFiltro('todos')" 
      [ngClass]="{'activo': filtroActual === 'todos'}">Todos</button>
      <button (click)="cambiarFiltro('activos')" 
      [ngClass]="{'activo': filtroActual === 'activos'}">Activos</button>
      <button (click)="cambiarFiltro('completados')" 
      [ngClass]="{'activo': filtroActual === 'completados'}">Completados</button>
    </section>

    <button (click)="mostrarFormulario = true">
      ➕ Agregar hábito</button>

    <section id="crear-habito" *ngIf="mostrarFormulario">

      <h3>Nuevo hábito</h3>

      <div class="campo"> 
        <label></label>
        <input
          type="text"
          placeholder="Nombre del hábito"
          [(ngModel)]="nuevoHabit">
        </div>

      <div class="acciones">
        <button class="guardar"
          (click)="agregarHabit()">
          Agregar
        </button>

        <button class="cancelar"
          (click)="mostrarFormulario = false">
          Cancelar
        </button>
      </div>
    </section>

    <section id="habitos">
      <h2>Hábitos pendientes</h2>
      <div class="habit" *ngFor="let habit of habitsFiltrados">  
        <div class="habit-info">
          <input type="checkbox" [(ngModel)]="habit.completado" (change)="cambiarEstado(habit)">    
          <span class="habit-name">
            {{ habit.name }}
          </span>
        </div>
        <div class="habit-actions">
          <button (click)="eliminarHabit(habit.id)">
            🗑
          </button>
          <button (click)="editarHabit(habit)">✏️</button>
        </div>
      </div>

    </section>

    <div class="modal" *ngIf="editando && habitEditando">
      <div class="modal-content">
        <h3>Editar hábito</h3>
        <div class="campo">
          <input type="text" [(ngModel)]="habitEditando.name">
        </div>

        <div class="acciones">
          <button (click)="guardarEdicion()">Guardar</button>
          <button (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </div>
    </div>

  </main>
  <app-bottom-navigation></app-bottom-navigation>
</ion-content>