<ion-content>
  <div class="page-header">
    <h1>Hábitos</h1>
    <h2>Crea y gestiona tus hábitos</h2>
    <button class="btn-add" (click)="mostrarFormulario = true">
      +
    </button>
  </div>
  <main>

    <div class="hero-card">
      <div>
        <h2>Resumen de tus hábitos</h2>
        <p>Aquí tienes un resumen de tus hábitos</p>
      </div>
    </div>

    <section id="resumen">

      <div class="stat-card">
        <span class="number">
          {{ habitsFiltrados.length }}
        </span>
        <span class="label">
          Hábitos
        </span>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ obtenerHabitosCompletados() }}
        </span>
        <span class="label">
          Completados
        </span>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ obtenerRachaTotal() }}
        </span>
        <span class="label">
          Racha
        </span>
      </div>

      <div class="stat-card">
        <span class="number">
          {{ obtenerProgreso() }}%
        </span>
        <span class="label">
          Progreso
        </span>
      </div>

    </section>

    <section id="filtros">
      <button (click)= "cambiarFiltro('todos')" 
      [ngClass]="{'activo': filtroActual === 'todos'}">Todos</button>
      <button (click)="cambiarFiltro('activos')" 
      [ngClass]="{'activo': filtroActual === 'activos'}">Activos</button>
      <button (click)="cambiarFiltro('completados')" 
      [ngClass]="{'activo': filtroActual === 'completados'}">Completados</button>
    </section>

    <section id="crear-habito" *ngIf="mostrarFormulario">

      <h3>Nuevo hábito</h3>

      <div class="campo"> 
        <label></label>
        <input
          type="text"
          placeholder="Nombre del hábito"
          [(ngModel)]="nuevoHabit">
        </div>

      <div class="acciones">
        <button class="guardar"
          (click)="agregarHabit()">
          Agregar
        </button>

        <button class="cancelar"
          (click)="mostrarFormulario = false">
          Cancelar
        </button>
      </div>
    </section>

    <section id="habitos">
      <h2>Hábitos pendientes</h2>
      <div class="habit" *ngFor="let habit of habitsFiltrados">  
        <div class="habit-info">
          <input type="checkbox" [(ngModel)]="habit.completado" (change)="cambiarEstado(habit)">    
          <span class="habit-name">
            {{ habit.name }}
          </span>
        </div>
        <div class="habit-actions">
          <button (click)="eliminarHabit(habit.id)">
            🗑
          </button>
          <button (click)="editarHabit(habit)">✏️</button>
        </div>
      </div>

    </section>

    <div class="modal" *ngIf="editando && habitEditando">
      <div class="modal-content">
        <h3>Editar hábito</h3>
        <div class="campo">
          <input type="text" [(ngModel)]="habitEditando.name">
        </div>

        <div class="acciones">
          <button (click)="guardarEdicion()">Guardar</button>
          <button (click)="cancelarEdicion()">Cancelar</button>
        </div>
      </div>
    </div>

  </main>
  <app-bottom-navigation></app-bottom-navigation>
</ion-content>